// https: //coolors.co/fffceb-ffd700-800000-1a1110-075c91
$gold   : #ffd700;
$maroon : #800000;
$black  : #1a1110;
$white  : #fffceb;
$blue   : #075c91;

// Brand Colors
$venmo   : #008cff;
$cashapp : #00D632;
